<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="CONSOLE_LOG_CHARSET" source="logging.charset.console" defaultValue="UTF-8"/>
	<springProperty scope="context" name="spring_application_name" source="spring.application.name" defaultValue="videosite-app"/>
	<property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n"/>
	<property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n"/>
	<property name="FILE_LOG_CHARSET" value="UTF-8"/>
	<property name="LOG_FILE" value="./${spring_application_name}.log"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
	</appender>

	<appender name="CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="CONSOLE" />
	</appender>

	<springProfile name="prod">
		<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
				<charset>${FILE_LOG_CHARSET}</charset>
			</encoder>
			<file>${LOG_FILE}</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				<cleanHistoryOnStart>false</cleanHistoryOnStart>
				<maxFileSize>10MB</maxFileSize>
				<totalSizeCap>0</totalSizeCap>
				<maxHistory>7</maxHistory>
			</rollingPolicy>
		</appender>

		<appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
			<appender-ref ref="FILE" />
		</appender>
	</springProfile>

	<springProfile name="!prod">
		<root level="info">
			<appender-ref ref="CONSOLE_ASYNC" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<root level="info">
			<appender-ref ref="CONSOLE_ASYNC" />
			<appender-ref ref="FILE_ASYNC" />
		</root>
	</springProfile>

	<logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
	<logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
	<logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
	<logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
	<logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
	<logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
	<logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
	<logger name="org.springframework.boot.actuate.endpoint.jmx" level="WARN"/>
	<logger name="org.springframework.security" level="info" additivity="false">
		<appender-ref ref="CONSOLE_ASYNC" />
	</logger>
</configuration>
